*, *::before, *::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.navContainer {
  display: flex;
  width: auto;
  height: 120px;
  flex-direction: row;
  background-color: ghostwhite;
}

.leftCont {
  display: flex;
  width: 120px;
  height: 120px;
  padding: 8px;
}

.rightCont {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title {
  display: flex;
  height: 70px;
  padding: 0px 10px;
  font-family: "Blackadder ITC", sans-serif;
  font-size: 50px;
  align-items: center;
}

.naviLinks {
  display: flex;
  height: 50px;
  padding: 0px 10px;
  background-color: #8FBC8F;
  align-items: center;
  font-size: 20px;
}

.naviLinks a {
  padding: 14px 15px;
  height: 100%;
  font-size: 15px;
  text-decoration: none;
  color: ghostwhite;
  font-family: Helvetica, sans-serif;
}

.naviLinks a:hover {
  background-color: #ddd;
	color: black;
}

.hamburg {
  position: absolute;
	display: none;
	top: 66px;
	right: 1rem;
	width: 30px;
	height: 21px;
	flex-direction: column;
	justify-content: space-between;
}

.bar {
  height: 3px;
	width: 100%;
	background-color: black;
	border-radius: 10px;
}

@media (max-width: 700px) {
  .naviLinks {
    height: 80px;
    justify-content: space-between;
  }

  .naviLinks > a {
    font-size: 12px;
    padding-top: 33px;
  }
  
  .title {
    display: none;
  }

  .leftCont {
    width: 80px;
    height: 80px;
  }

  .navContainer {
    height: 80px;
  }
}